.replit-ui-theme-root.dark {
	--background-root: #364a70;
	--background-default: #2a216ac4;
	--background-higher: #405181;
	--background-highest: #FFF;
	--background-overlay: #fff;
	--foreground-default: #FFF;
	--foreground-dimmer: #FFF;
	--foreground-dimmest: #FFF;
	--outline-strongest: #FFF;
	--outline-stronger: #fff;
	--outline-default: #FFF;
	--outline-dimmer: #5F677A;
	--outline-dimmest: #4E5569;
	--accent-primary-dimmest: #7289da;
	--accent-primary-dimmer: #7289da;
	--accent-primary-default: #7289da;
	--accent-primary-stronger: #57ABFF;
	--accent-primary-strongest: #B2D9FF;
	--accent-positive-dimmest: #044A10;
	--accent-positive-dimmer: #046113;
	--accent-positive-default: #009118;
	--accent-positive-stronger: #6CD97E;
	--accent-positive-strongest: #BFFFCA;
	--accent-negative-dimmest: #660000;
	--accent-negative-dimmer: #A60808;
	--accent-negative-default: #E52222;
	--accent-negative-stronger: #FF6666;
	--accent-negative-strongest: #FFCFCF;
	--accent-red-dimmest: #660000;
	--accent-red-dimmer: #A60808;
	--accent-red-default: #E52222;
	--accent-red-stronger: #FF6666;
	--accent-red-strongest: #FFCFCF;
	--accent-orange-dimmest: #542A00;
	--accent-orange-dimmer: #703800;
	--accent-orange-default: #AD5700;
	--accent-orange-stronger: #D4781C;
	--accent-orange-strongest: #FFBD7A;
	--accent-yellow-dimmest: #4D4000;
	--accent-yellow-dimmer: #635300;
	--accent-yellow-default: #967D00;
	--accent-yellow-stronger: #BFA730;
	--accent-yellow-strongest: #F2E088;
	--accent-lime-dimmest: #314A00;
	--accent-lime-dimmer: #3D5C00;
	--accent-lime-default: #5A8700;
	--accent-lime-stronger: #87B825;
	--accent-lime-strongest: #C4E581;
	--accent-green-dimmest: #044A10;
	--accent-green-dimmer: #046113;
	--accent-green-default: #009118;
	--accent-green-stronger: #6CD97E;
	--accent-green-strongest: #7AEB8D;
	--accent-teal-dimmest: #004452;
	--accent-teal-dimmer: #006073;
	--accent-teal-default: #0093B0;
	--accent-teal-stronger: #27B9D6;
	--accent-teal-strongest: #69D9F0;
	--accent-blue-dimmest: #004182;
	--accent-blue-dimmer: #0053A6;
	--accent-blue-default: #0079F2;
	--accent-blue-stronger: #57ABFF;
	--accent-blue-strongest: #B2D9FF;
	--accent-blurple-dimmest: #39298A;
	--accent-blurple-dimmer: #5239CC;
	--accent-blurple-default: #795EFF;
	--accent-blurple-stronger: #A694FF;
	--accent-blurple-strongest: #CEC4FF;
	--accent-purple-dimmest: #582987;
	--accent-purple-dimmer: #7633B8;
	--accent-purple-default: #A64DFF;
	--accent-purple-stronger: #C78FFF;
	--accent-purple-strongest: #E2C4FF;
	--accent-magenta-dimmest: #6B1A6B;
	--accent-magenta-dimmer: #8A218A;
	--accent-magenta-default: #C73AC7;
	--accent-magenta-stronger: #F562F5;
	--accent-magenta-strongest: #FFBFFF;
	--accent-pink-dimmest: #6E1B52;
	--accent-pink-dimmer: #8F226B;
	--accent-pink-default: #D4359F;
	--accent-pink-stronger: #FF70CF;
	--accent-pink-strongest: #FFBAE8;
	--accent-grey-dimmest: #404040;
	--accent-grey-dimmer: #545454;
	--accent-grey-default: #808080;
	--accent-grey-stronger: #A6A6A6;
	--accent-grey-strongest: #D4D4D4;
	--accent-brown-dimmest: #594031;
	--accent-brown-dimmer: #75503B;
	--accent-brown-default: #A3765C;
	--accent-brown-stronger: #D49877;
	--accent-brown-strongest: #FFC8A8;
}
